/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  padding: 3rem;
}
/* navbar */

.brand-logo.right{
  margin-right: 2rem;
}

.left.hide-on-med-and-down > li >a{
  padding: 0 2rem;
}
.row.search{
  display: flex;
}
.active.waves-effect{
  vertical-align: middle;
}
.current-page{
  width: 30px;
  color: white;
  vertical-align: middle;
}
.row.event-card{
  position: relative;
  display: block;
  margin:0 auto;
}

.nav-wrapper{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.col.s12.m6.event-card{
  margin:0 auto;
}
.input-field.col.s4.search{
  margin-left:2rem;
  margin-top:5rem;
}
#serch-field{
   margin-left:7rem;
}
.waves-effect.waves-light.btn{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  position: relative;
  margin-top: 5rem;
  margin-bottom: 1rem;
}
