/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  box-sizing: border-box
}
.coin-container{
  padding: 2rem;
  margin:0px;
  width: 100%;
}
/* navbar */

.brand-logo{
  margin-left: 3rem;
}

.right.hide-on-med-and-dow > li >a{
  padding: 0 3rem;
}
.row.search{
  display: flex;
}
.active.waves-effect{
  vertical-align: middle;
}
.current-page{
  width: 30px;
  color: white;
  vertical-align: middle;
}
.row.event-card{
  position: relative;
  display: block;
  margin:0 auto;
}

.nav-wrapper{
 background: #C9CCD3;
 background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: lighten;
}

/* top-container */
.top-container{
 /* height:40%;
  background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);*/
}
.row.center-align{
  height: 500px;
  background-image: linear-gradient(-20deg, #6e45e2 0%, #88d3ce 100%);
}
.col.s12.m6.event-card{
  margin:0 auto;
}
.input-field.col.s4.search{
  margin-left:2rem;
  margin-top:5rem;
}
.input-field.col> label{
  color: white;
  border-bottom: white;
}
#serch-field{
   margin-left:7rem;
}
input#keyword, input#date{
  border-bottom: solid 1px white;
}
.btn-floating.btn-large.cyan.pulse{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  position: relative;
  margin-top: 5rem;
  margin-bottom: 1rem;

}

.card-content.grey-text > p .material-icons.prefix{
  position: relative;
  bottom:0px;
}
