<!DOCTYPE html>
<html>
<head>
  <title>Coinstudy</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Materialize CDN -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="loader">
    <div class="loader bars" id="load">
      <div class="bars">
          <div class="bas bar"></div>
          <div class="bas bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
      </div>
    </div>

    <div class="loader loader--reflect">
      <div class="bars">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>

  </div>

    <div class="coin-container" id="app">
        <%= yield %>
         <footer >
          <div class="footer-copyright">
            <div class="container">
            © 2018 Coin Study
            </div>
          </div>
        </footer>
    </div>

<script>
  // カレンダー選択の処理
  $(function() {
      var h = $(window).height();

      $('#wrap').css('display','none');
      $('#loader-bg ,#loader').height(h).css('display','block');
  });

  $(window).load(function () { //全ての読み込みが完了したら実行
    $('#loader-bg').delay(900).fadeOut(800);
    $('#loader').delay(600).fadeOut(300);
    $('#wrap').css('display', 'block');
  });
    $(document).ready(function(){
    $('.datepicker').datepicker();
  });

//すべての要素が読み込み終わったら、ローディング画面を非表示にする
$(window).load(function(){
  $(".loader").fadeOut();
});


  var app = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue!'
  }
})
</script>
</body>
</html>
